html,
body {
  height: 100%;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.table code {
  font-size: 13px;
  font-weight: 400;
}
.topNav:before,
.topNav:after,
.header:before,
.header:after {
  content: " ";
  display: table;
}
.topNav:after,
.header:after {
  clear: both;
}
.warper {
  width: 100%;
  overflow: hidden;
}
.header {
  border-bottom: 1px solid #b9c5d4;
  height: 90px;
}
.logo {
  background: url("../images/public/logo.png") no-repeat center;
  height: 63px;
  width: 94px;
  margin: 15px 0 11px 65px;
}
.logo > a {
  display: inline-block;
  height: 63px;
  width: 94px;
  text-indent: -99999px;
}
.topNav {
  margin-top: 6px;
  margin-left: 355px;
}
.topNav > li {
  float: left;
  padding: 30px 31px;
}
.topNav > li.active {
  border-bottom: 2px solid #4c8fd4;
}
.topNav > li:hover {
  border-bottom: 2px solid #4c8fd4;
}
.topNav > li:hover > a {
  color: #4a8bce;
}
.siderBar {
  position: fixed;
  width: 229px;
  border-right: 1px solid #f1f1f1;
  background-color: #f9f9f9;
  height: 100%;
}
.siderBar > .sider-head {
  height: 44px;
  line-height: 44px;
  color: #fff;
  font-size: 16px;
  background: url("../images/siderbar-top.png") no-repeat;
  margin-bottom: 10px;
}
.siderBar > .sider-menu > ul > li > span {
  font-size: 14px;
  font-weight: bold;
  padding: 0 15px;
}
.siderBar > .sider-menu > ul > li > ul {
  margin: 15px 0;
}
.siderBar > .sider-menu > ul > li > ul > li > a {
  display: inline-block;
  width: 229px;
  height: 32px;
  line-height: 32px;
  padding-left: 45px;
}
.siderBar > .sider-menu > ul > li > ul > li > a:hover {
  background-color: #fff;
}
.frame-content {
  margin-left: 229px;
}
.frame-content > iframe {
  position: fixed;
  width: calc(100% - 229px);
  height: calc(100% - 90px);
  border: 0;
}
.page-head {
  width: 100%;
  padding: 0 37px 0;
  background-color: #f9f9f9;
  overflow: hidden;
}
.page-head > h3 {
  color: #333;
}
.page-head > h4 {
  color: #999;
}
.page-head > h4 > small {
  font-weight: normal;
}
.page-content {
  padding: 0 37px;
}
.page-content > div > h3 {
  color: #333;
  margin-top: 43px;
  margin-bottom: 24px;
  border-left: 6px solid #c7254e;
  line-height: 24px;
  padding-left: 10px;
}
.page-content > div > p {
  color: #555;
  margin: 16px 0;
}
.highlight {
  padding: 15px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-top: 0;
}
.highlight.border-top {
  border-top: 1px solid #e1e1e8;
}
.highlight > pre > code {
  color: #333;
}
.highlight > pre > code > span.nt {
  color: #2f6f9f;
}
.highlight > pre > code > span.na {
  color: #4f9fcf;
}
.highlight > pre > code > span.s {
  color: #d44950;
}
.markdown li {
  list-style: circle;
  margin-left: 20px;
  padding-left: 8px;
}
.our-example {
  position: relative;
  border: 1px solid #dddddd;
  padding: 45px 15px 15px;
  zoom: 1;
}
.our-example:before,
.our-example:after {
  content: " ";
  display: table;
}
.our-example:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.our-example:after {
  content: "实例：";
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  visibility: visible;
}
.our-duanluo-12 {
  font-size: 12px;
}
.gray-box {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 20px 10px;
  color: #fff;
  text-align: center;
  line-height: 100px;
}
.gray-box.gray-base {
  background-color: #000;
}
.gray-box.gray-dark {
  background-color: #333;
}
.gray-box.gray-darker {
  background-color: #222;
}
.gray-box.gray {
  background-color: #555;
}
.gray-box.gray-light {
  background-color: #777;
}
.gray-box.gray-lighter {
  background-color: #999;
}
.our-color-base {
  color: #555;
}
.our-color-base > span {
  display: inline-block;
  margin: 0 30px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #555;
  color: #fff;
  vertical-align: middle;
}
.our-color-dark {
  color: #333;
}
.our-color-dark > span {
  display: inline-block;
  margin: 0 30px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #333;
  color: #fff;
  vertical-align: middle;
}
.our-color-light {
  color: #999;
}
.our-color-light > span {
  display: inline-block;
  margin: 0 30px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #999;
  color: #fff;
  vertical-align: middle;
}
.our-color-primary {
  color: #28a3ef;
}
.our-color-primary > span {
  display: inline-block;
  margin: 0 30px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #28a3ef;
  color: #fff;
  vertical-align: middle;
}
.our-color-success {
  color: #43cd6e;
}
.our-color-success > span {
  display: inline-block;
  margin: 0 30px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #43cd6e;
  color: #fff;
  vertical-align: middle;
}
.our-color-error {
  color: #ea4a36;
}
.our-color-error > span {
  display: inline-block;
  margin: 0 30px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #ea4a36;
  color: #fff;
  vertical-align: middle;
}
.our-color-warning {
  color: #fac603;
}
.our-color-warning > span {
  display: inline-block;
  margin: 0 30px;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #fac603;
  color: #fff;
  vertical-align: middle;
}
